/* YOUR CUSTOM STYLES */

body{
    background-color: #ECEFF1;
}

.myNavbar {
    background-color: #64B5F6;
}

.myNavItem {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.mainSection {
    background-color: #64B5F6;
    height: 400px;
}

.personType {
    padding-top: 15%;
    color: white;
}

.registerSection {
    padding-top: 5%;
}

.nextButtonSection {
    #padding-left: 40%;
    #margin-left: 60%;
}

.nextButton {
    width: 40%;
}

.skillSection {
    padding-top: 5%;
    left: 150%;
}

.card-title-section {
    background-color: #64B5F6;
    height: 170px;
    width: inherit;
    color: white;
}

.card-title {
    padding-top: 20px;
    color: white;
}

.skillSets {
    font-size: 16px;
    #padding-bottom: 15px;
}

.myButton {
    background-color: #64B5F6;
    border-color: #64B5F6;
}

.compatibility {
    padding-left: 4%;
    padding-top: 3%;
    #border-style: solid;
}

.small-card-section {
    padding-top: 2%;
    #border-style: solid;
    padding-bottom: 5%;
    
}

.small-card-header {
    font-size: 26px;
}

.small-card-icons {
    padding-left: 10%;
}