.nav-tabs {
    background-color: #64B5F6;
    border-radius: 0px;
}

.nav-tabs > li > a {
    border: 0px;
    color: white;
}

.nav-tabs > li > a:hover {
    background-color: #64B5F6 !important;
    color: white;
    border: 1px solid white;
    border-radius: 0px;
    border-bottom: 5px solid #EFEFEF;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color: #64B5F6 !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-radius: 0px;
    border-bottom: 5px solid #EFEFEF;
}